h1 {
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(8, 4, 4), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
              img {
                
  border: 5px solid rgb(255, 255, 255);
  border-radius: 4px;
  border-radius: 8px;
  width: 800px;
  }
  
   body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(223, 7, 7) 52%, rgba(3,0,9,1) 100%);
   }
  
  p {
      color: white;
      text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }